<div class="grid-container">
  <div id="projects" class="grid-x align-center-middle c-section">
    <div class="cell small-10">
      <span class="rectangle"></span>
      <div class="grid-x align-center box">
        <div class="cell content">
          <div
            class="grid-x align-center-middle p-menu grid-margin-x grid-padding-x"
          >
            <div
              class="cell medium-3 p-item"
              (click)="loadProject('rakel', $event)"
            >
              rakel
            </div>
            <div
              class="cell medium-3 p-item"
              (click)="loadProject('enel', $event)"
            >
              enel
            </div>
            <div
              class="cell medium-3 p-item"
              (click)="loadProject('samsung', $event)"
            >
              samsung
            </div>
            <div
              class="cell medium-3 p-item"
              (click)="loadProject('casaluker', $event)"
            >
              casaluker
            </div>
          </div>
        </div>

        <div class="cell p-content small-10" id="rakel">
          <div
            class="grid-x grid-margin-y grid-margin-x grid-padding-x grid-padding-y"
          >
            <div class="cell title">Rakel</div>

            <div class="cv-line"></div>

            <div class="cell medium-6 p-time">
              <img src="/assets/icons/icon-clock.png" />
              <span>1Y 4M</span>
            </div>
            <div class="cell medium-6 p-time">
              <img src="/assets/icons/icon-folder.png" />
              <span>8+ Proyectos</span>
            </div>
            <div class="cell desc">
              Rakel es una plataforma que consta de mas de 8 proyectos para su
              total funcionamiento, fue desarrollada por dos programadores cuyo
              fin es automatizar la seleccion de personal con modelos de IA.
            </div>

            <div class="cv-line"></div>

            <div class="cell title">Lenguajes, herramientas y frameworks</div>
            <div class="cell">
              <div
                class="grid-x grid-margin-y grid-margin-x align-center-middle grid-padding-x grid-padding-y"
              >
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-vim.png" />
                  </div>
                  <div class="name">Vim</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-git.png" />
                  </div>
                  <div class="name">Git</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-postman.png" />
                  </div>
                  <div class="name">postman</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-int.png" />
                  </div>
                  <div class="name">intellij</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-java.png" />
                  </div>
                  <div class="name">Java</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-php.png" />
                  </div>
                  <div class="name">php</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box"><img src="/assets/logos/logo-js.png" /></div>
                  <div class="name">JavaScript</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box"><img src="/assets/logos/logo-ts.png" /></div>
                  <div class="name">TypeScript</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-html.png" />
                  </div>
                  <div class="name">html5</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-css.png" />
                  </div>
                  <div class="name">css3</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-sass.png" />
                  </div>
                  <div class="name">sass</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-jquery.png" />
                  </div>
                  <div class="name">Jquery</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-angular.png" />
                  </div>
                  <div class="name">Angular 2+</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-node.png" />
                  </div>
                  <div class="name">nodejs</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-electron.png" />
                  </div>
                  <div class="name">electronjs</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-spring.png" />
                  </div>
                  <div class="name">spring boot</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box"><img src="/assets/logos/logo-ps.png" /></div>
                  <div class="name">postgresql</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-rabbit.png" />
                  </div>
                  <div class="name">rabbitmq</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box"><img src="/assets/logos/logo-fd.png" /></div>
                  <div class="name">foundation</div>
                </article>
              </div>
            </div>

            <div class="cv-line"></div>

            <a
              href="https://www.irakel.com/#/"
              target="_blank"
              class="cell medium-4 medium-offset-4 box p-btn"
            >
              <img src="/assets/logos/logo-rakel.png" />
              <span>ir a rakel</span>
            </a>
          </div>
        </div>

        <div class="cell p-content small-10" id="enel">
          <div
            class="grid-x grid-margin-y grid-margin-x grid-padding-x grid-padding-y"
          >
            <div class="cell title">Enel Codensa - Chat Bot</div>

            <div class="cv-line"></div>

            <div class="cell medium-6 p-time">
              <img src="/assets/icons/icon-clock.png" />
              <span>1M</span>
            </div>
            <div class="cell medium-6 p-time">
              <img src="/assets/icons/icon-folder.png" />
              <span>1 Proyecto</span>
            </div>
            <div class="cell desc">
              El Chat Bot fue desarrollado empleando el api de telegram y una
              serie de scripts en php para realizar actividades de tipo
              cuestionario totalmente autonomo con las personas participantes
              del convenio de cooperación para el Programa Juntos por las
              Juntas.
            </div>

            <div class="cv-line"></div>

            <div class="cell title">Lenguajes, herramientas y frameworks</div>
            <div class="cell">
              <div
                class="grid-x grid-margin-y grid-margin-x align-center-middle grid-padding-x grid-padding-y"
              >
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-vim.png" />
                  </div>
                  <div class="name">Vim</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-git.png" />
                  </div>
                  <div class="name">Git</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-int.png" />
                  </div>
                  <div class="name">intellij</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-php.png" />
                  </div>
                  <div class="name">php</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box"><img src="/assets/logos/logo-tg.png" /></div>
                  <div class="name">telegram api</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box"><img src="/assets/logos/logo-ps.png" /></div>
                  <div class="name">postgresql<br />&nbsp;</div>
                </article>
              </div>
            </div>

            <div class="cv-line"></div>

            <a
              href="https://t.me/Don_Enel_Bot"
              target="_blank"
              class="cell medium-4 medium-offset-4 box p-btn"
            >
              <img src="/assets/logos/logo-tg.png" />
              <span>Don Enel</span>
            </a>
          </div>
        </div>

        <div class="cell p-content small-10" id="samsung">
          <div
            class="grid-x grid-margin-y grid-margin-x grid-padding-x grid-padding-y"
          >
            <div class="cell title">Samsung - Formularios Unicos</div>

            <div class="cv-line"></div>

            <div class="cell medium-6 p-time">
              <img src="/assets/icons/icon-clock.png" />
              <span>3M</span>
            </div>
            <div class="cell medium-6 p-time">
              <img src="/assets/icons/icon-folder.png" />
              <span>3 Proyectos</span>
            </div>
            <div class="cell desc">
              El proyecto tenia como fin presentar un formulario que al ingresar
              una cierta cantidad de datos, creara dinamicamente un Landing page
              para las activaciones y promociones por parte de los promotores de
              samsung colombia.
            </div>

            <div class="cv-line"></div>

            <div class="cell title">Lenguajes, herramientas y frameworks</div>
            <div class="cell">
              <div
                class="grid-x grid-margin-y grid-margin-x align-center-middle grid-padding-x grid-padding-y"
              >
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-vim.png" />
                  </div>
                  <div class="name">Vim</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-git.png" />
                  </div>
                  <div class="name">Git</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-postman.png" />
                  </div>
                  <div class="name">postman</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-int.png" />
                  </div>
                  <div class="name">intellij</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-php.png" />
                  </div>
                  <div class="name">php</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-angular.png" />
                  </div>
                  <div class="name">angular 2+</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box"><img src="/assets/logos/logo-ps.png" /></div>
                  <div class="name">postgresql</div>
                </article>
              </div>
            </div>
          </div>
        </div>

        <div class="cell p-content small-10" id="casaluker">
          <div
            class="grid-x grid-margin-y grid-margin-x grid-padding-x grid-padding-y"
          >
            <div class="cell title">CasaLuker</div>

            <div class="cv-line"></div>

            <div class="cell medium-6 p-time">
              <img src="/assets/icons/icon-clock.png" />
              <span>5M</span>
            </div>
            <div class="cell medium-6 p-time">
              <img src="/assets/icons/icon-folder.png" />
              <span>2 Proyectos</span>
            </div>
            <div class="cell desc">
              El proyecto tenia como fin el desarrollo de la web de gestion de
              contenido para casaluker, la cual soporta mas de 5 lenguajes.
            </div>

            <div class="cv-line"></div>

            <div class="cell title">Lenguajes, herramientas y frameworks</div>
            <div class="cell">
              <div
                class="grid-x grid-margin-y grid-margin-x align-center-middle grid-padding-x grid-padding-y"
              >
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-vim.png" />
                  </div>
                  <div class="name">Vim</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-git.png" />
                  </div>
                  <div class="name">Git</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-php.png" />
                  </div>
                  <div class="name">php</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box"><img src="/assets/logos/logo-js.png" /></div>
                  <div class="name">JavaScript</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-html.png" />
                  </div>
                  <div class="name">html5</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-css.png" />
                  </div>
                  <div class="name">css3</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-sass.png" />
                  </div>
                  <div class="name">sass</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-jquery.png" />
                  </div>
                  <div class="name">Jquery</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box"><img src="/assets/logos/logo-wp.png" /></div>
                  <div class="name">wordpress</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-mysql.png" />
                  </div>
                  <div class="name">mysql</div>
                </article>
              </div>
            </div>

            <div class="cv-line"></div>

            <a
              href="http://lab.uvee.co/granjaluker/en/"
              target="_blank"
              class="cell medium-4 medium-offset-4 box p-btn"
            >
              <img src="/assets/logos/logo-cl.png" />
              <span>Visitar</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
