@font-face {
  font-family: "Backto1982";
  src: url("/assets/fonts/Backto1982/Backto1982.eot") format("eot"),
    url("/assets/fonts/Backto1982/Backto1982.woff") format("woff"),
    url("/assets/fonts/Backto1982/Backto1982.ttf") format("ttf");
}

@font-face {
  font-family: "Silkscreen";
  src: url("/assets/fonts/Silkscreen/Silkscreen.eot") format("eot"),
    url("/assets/fonts/Silkscreen/Silkscreen.woff") format("woff"),
    url("/assets/fonts/Silkscreen/Silkscreen.ttf") format("ttf");
}

@font-face {
  font-family: "Silkscreen-Bold";
  src: url("/assets/fonts/Silkscreen-Bold/Silkscreen-Bold.eot") format("eot"),
    url("/assets/fonts/Silkscreen-Bold/Silkscreen-Bold.woff") format("woff"),
    url("/assets/fonts/Silkscreen-Bold/Silkscreen-Bold.ttf") format("ttf");
}
