// fonts
$f-bt: "Backto1982";
$f-ss: "Silkscreen";
$f-ssb: "Silkscreen-Bold";

// colors
$c-black: #000000;
$c-red: #b70f0f;

// general
$trans: all 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
$bs: 0 2px 5px rgba($c-red, 1);
