<div class="grid-container">
  <div id="brands" class="grid-x align-center c-section">
    <div class="cell small-10">
      <span class="rectangle"></span>
      <div class="grid-x align-center-middle box grid-margin-x grid-margin-y">
        <div class="cell content">
          <div
            class="grid-x grid-margin-x grid-margin-y grid-padding-x grid-padding-y"
          >
            <article class="cell medium-6">
              <img src="/assets/logos/logo-jm.png" class="logo" />
              <span class="mask"></span>
              <img
                class="arrow black"
                src="/assets/icons/icon-arrow.ico"
                (click)="load($event)"
              />
              <img
                class="arrow white"
                src="/assets/icons/icon-arrow-w.ico"
                (click)="load($event)"
              />
              <div class="title">
                Jagermeister<span class="line-brand"></span>
              </div>
              <div class="grid-x content-brand">
                <div class="cell">
                  <span class="square"></span>HTML Emails - maqueta y envios
                </div>
                <div class="cell">
                  <span class="square"></span>Landing Pages | Mobile App - front
                  end + back end + db
                </div>
                <div class="cell">
                  <span class="square"></span>CODEIGNITER | LARAVEL | ANGULAR |
                  PHP | JS | CSS | HTML
                </div>
                <div class="cell">
                  <span class="square"></span
                  ><a
                    href="http://lab.uvee.co/invasao-true-rock/"
                    target="_blank"
                    >DEMO</a
                  >
                </div>
              </div>
            </article>
            <article class="cell medium-6">
              <img src="/assets/logos/logo-cl.png" class="logo" />
              <span class="mask"></span>
              <img
                class="arrow black"
                src="/assets/icons/icon-arrow.ico"
                (click)="load($event)"
              />
              <img
                class="arrow white"
                src="/assets/icons/icon-arrow-w.ico"
                (click)="load($event)"
              />
              <div class="title">CasaLuker<span class="line-brand"></span></div>
              <div class="grid-x content-brand">
                <div class="cell">
                  <span class="square"></span>HTML Emails - maqueta y envios
                </div>
                <div class="cell">
                  <span class="square"></span>Landing Pages | CMS - front end +
                  back end + db
                </div>
                <div class="cell">
                  <span class="square"></span>WORDPRESS | CODEIGNITER | JOOMLA |
                  PHP | JS | CSS | HTML
                </div>
                <div class="cell">
                  <span class="square"></span
                  ><a href="http://lab.uvee.co/granjaluker/en/" target="_blank"
                    >DEMO</a
                  >
                </div>
              </div>
            </article>
            <article class="cell medium-6">
              <img src="/assets/logos/logo-colpatria.png" class="logo" />
              <span class="mask"></span>
              <img
                class="arrow black"
                src="/assets/icons/icon-arrow.ico"
                (click)="load($event)"
              />
              <img
                class="arrow white"
                src="/assets/icons/icon-arrow-w.ico"
                (click)="load($event)"
              />
              <div class="title">COLPATRIA<span class="line-brand"></span></div>
              <div class="grid-x content-brand">
                <div class="cell">
                  <span class="square"></span>Landing Page - front end + back
                  end + db
                </div>
                <div class="cell">
                  <span class="square"></span>LARAVEL | ANGULAR | PHP | TS | JS
                  | CSS | HTML
                </div>
                <div class="cell">
                  <span class="square"></span
                  ><a href="http://dev.uvee.co/distrito-vera/#/" target="_blank"
                    >DEMO</a
                  >
                </div>
              </div>
            </article>
            <article class="cell medium-6">
              <img src="/assets/logos/logo-au.png" class="logo" />
              <span class="mask"></span>
              <img
                class="arrow black"
                src="/assets/icons/icon-arrow.ico"
                (click)="load($event)"
              />
              <img
                class="arrow white"
                src="/assets/icons/icon-arrow-w.ico"
                (click)="load($event)"
              />
              <div class="title">AUNAP<span class="line-brand"></span></div>
              <div class="grid-x content-brand">
                <div class="cell">
                  <span class="square"></span>Landing Page - front end + back
                  end + db
                </div>
                <div class="cell">
                  <span class="square"></span>CODEIGNITER | PHP | JS | CSS |
                  HTML
                </div>
                <div class="cell">
                  <span class="square"></span
                  ><a href="http://lab.uvee.co/au_pescado/" target="_blank"
                    >DEMO</a
                  >
                </div>
              </div>
            </article>
            <article class="cell medium-6">
              <img src="/assets/logos/logo-fm.png" class="logo" />
              <span class="mask"></span>
              <img
                class="arrow black"
                src="/assets/icons/icon-arrow.ico"
                (click)="load($event)"
              />
              <img
                class="arrow white"
                src="/assets/icons/icon-arrow-w.ico"
                (click)="load($event)"
              />
              <div class="title">Frutamour<span class="line-brand"></span></div>
              <div class="grid-x content-brand">
                <div class="cell">
                  <span class="square"></span>Landing Page Redesign - front end
                  + back end
                </div>
                <div class="cell">
                  <span class="square"></span>ANGULAR | TS | JS | CSS | HTML
                </div>
                <div class="cell">
                  <span class="square"></span
                  ><a href="http://www.frutamour.com" target="_blank">DEMO</a>
                </div>
              </div>
            </article>
            <article class="cell medium-6">
              <img src="/assets/logos/logo-samsung.png" class="logo" />
              <span class="mask"></span>
              <img
                class="arrow black"
                src="/assets/icons/icon-arrow.ico"
                (click)="load($event)"
              />
              <img
                class="arrow white"
                src="/assets/icons/icon-arrow-w.ico"
                (click)="load($event)"
              />
              <div class="title">Samsung<span class="line-brand"></span></div>
              <div class="grid-x content-brand">
                <div class="cell">
                  <span class="square"></span>Landing pages - front end + back
                  end + db
                </div>
                <div class="cell">
                  <span class="square"></span>LARAVEL | ANGULAR | PHP | TS | JS
                  | CSS | HTML
                </div>
              </div>
            </article>
            <article class="cell medium-6">
              <img src="/assets/logos/logo-cheil.png" class="logo" />
              <span class="mask"></span>
              <img
                class="arrow black"
                src="/assets/icons/icon-arrow.ico"
                (click)="load($event)"
              />
              <img
                class="arrow white"
                src="/assets/icons/icon-arrow-w.ico"
                (click)="load($event)"
              />
              <div class="title">
                Cheil Colombia<span class="line-brand"></span>
              </div>
              <div class="grid-x content-brand">
                <div class="cell">
                  <span class="square"></span>Landing pages - front end + back
                  end + db
                </div>
                <div class="cell">
                  <span class="square"></span>ANGULAR | TS | JS | CSS | HTML
                </div>
              </div>
            </article>
            <article class="cell medium-6">
              <img src="/assets/logos/logo-enel.png" class="logo" />
              <span class="mask"></span>
              <img
                class="arrow black"
                src="/assets/icons/icon-arrow.ico"
                (click)="load($event)"
              />
              <img
                class="arrow white"
                src="/assets/icons/icon-arrow-w.ico"
                (click)="load($event)"
              />
              <div class="title">
                Enel Codensa<span class="line-brand"></span>
              </div>
              <div class="grid-x content-brand">
                <div class="cell">
                  <span class="square"></span>Chat Bot - telegram api + back end
                </div>
                <div class="cell"><span class="square"></span>PHP</div>
              </div>
            </article>
            <article class="cell medium-6">
              <img src="/assets/logos/logo-tnf.jpg" class="logo" />
              <span class="mask"></span>
              <img
                class="arrow black"
                src="/assets/icons/icon-arrow.ico"
                (click)="load($event)"
              />
              <img
                class="arrow white"
                src="/assets/icons/icon-arrow-w.ico"
                (click)="load($event)"
              />
              <div class="title">
                The North Face<span class="line-brand"></span>
              </div>
              <div class="grid-x content-brand">
                <div class="cell">
                  <span class="square"></span>HTML Emails - maqueta y envios
                </div>
              </div>
            </article>
            <article class="cell medium-6">
              <img src="/assets/logos/logo-makro.png" class="logo" />
              <span class="mask"></span>
              <img
                class="arrow black"
                src="/assets/icons/icon-arrow.ico"
                (click)="load($event)"
              />
              <img
                class="arrow white"
                src="/assets/icons/icon-arrow-w.ico"
                (click)="load($event)"
              />
              <div class="title">
                Makro Colombia<span class="line-brand"></span>
              </div>
              <div class="grid-x content-brand">
                <div class="cell">
                  <span class="square"></span>HTML Emails - maqueta y envios
                </div>
                <div class="cell">
                  <span class="square"></span>Landing pages - front end + back
                  end + db
                </div>
                <div class="cell">
                  <span class="square"></span>CODEIGNITER | PHP | JS | CSS |
                  HTML
                </div>
              </div>
            </article>
            <article class="cell medium-6">
              <img src="/assets/logos/logo-terpel.jpg" class="logo" />
              <span class="mask"></span>
              <img
                class="arrow black"
                src="/assets/icons/icon-arrow.ico"
                (click)="load($event)"
              />
              <img
                class="arrow white"
                src="/assets/icons/icon-arrow-w.ico"
                (click)="load($event)"
              />
              <div class="title">Terpel<span class="line-brand"></span></div>
              <div class="grid-x content-brand">
                <div class="cell">
                  <span class="square"></span>Landing pages - front end + back
                  end + db
                </div>
                <div class="cell">
                  <span class="square"></span>CODEIGNITER | PHP | JS | CSS |
                  HTML
                </div>
              </div>
            </article>
            <article class="cell medium-6">
              <img src="/assets/logos/logo-por.jpg" class="logo" />
              <span class="mask"></span>
              <img
                class="arrow black"
                src="/assets/icons/icon-arrow.ico"
                (click)="load($event)"
              />
              <img
                class="arrow white"
                src="/assets/icons/icon-arrow-w.ico"
                (click)="load($event)"
              />
              <div class="title">
                Asociacion Nacional de Porcicultores<span
                  class="line-brand"
                ></span>
              </div>
              <div class="grid-x content-brand">
                <div class="cell">
                  <span class="square"></span>CMS - front end + back end + db +
                  mantenimiento
                </div>
                <div class="cell">
                  <span class="square"></span>JOOMLA | PHP | JS | CSS | HTML
                </div>
              </div>
            </article>
            <article class="cell medium-6">
              <img src="/assets/logos/logo-rb.png" class="logo" />
              <span class="mask"></span>
              <img
                class="arrow black"
                src="/assets/icons/icon-arrow.ico"
                (click)="load($event)"
              />
              <img
                class="arrow white"
                src="/assets/icons/icon-arrow-w.ico"
                (click)="load($event)"
              />
              <div class="title">Red Bull<span class="line-brand"></span></div>
              <div class="grid-x content-brand">
                <div class="cell">
                  <span class="square"></span>HTML Emails - maqueta y envios
                </div>
                <div class="cell">
                  <span class="square"></span>Landing Pages - front end + back
                  end
                </div>
                <div class="cell">
                  <span class="square"></span>CODEIGNITER | PHP | JS | CSS |
                  HTML
                </div>
              </div>
            </article>
            <article class="cell medium-6">
              <img src="/assets/logos/logo-sm.png" class="logo" />
              <span class="mask"></span>
              <img
                class="arrow black"
                src="/assets/icons/icon-arrow.ico"
                (click)="load($event)"
              />
              <img
                class="arrow white"
                src="/assets/icons/icon-arrow-w.ico"
                (click)="load($event)"
              />
              <div class="title">
                ShopInMall<span class="line-brand"></span>
              </div>
              <div class="grid-x content-brand">
                <div class="cell">
                  <span class="square"></span>Landing Page | Main APP - back end
                  + db
                </div>
                <div class="cell">
                  <span class="square"></span>JAVA | PHP | JS | CSS | HTML
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
