<div class="grid-container">
  <div id="cv" class="grid-x align-center c-section">
    <div class="cell small-10">
      <span class="rectangle"></span>
      <div class="grid-x align-center-middle box grid-margin-y grid-margin-x">
        <div class="cell content">
          <div
            class="grid-x grid-margin-y grid-margin-x grid-padding-y grid-padding-x"
          >
            <div class="cell title">Sobre Efrain Jose Mancilla Buelvas</div>
            <div class="cell medium-6 medium-offset-3">
              <div class="grid-x">
                <div class="cell">
                  <span class="square"></span>senior full stack developer
                </div>
                <div class="cell">
                  <span class="square"></span>front end + back end
                </div>
                <div class="cell">
                  <span class="square"></span>5+ ANIOS DE EXPERIENCIA
                </div>
              </div>
            </div>

            <div class="cv-line"></div>

            <div class="cell title">Formacion academica</div>
            <article class="cell medium-4 experience ac">
              <div class="site">ingenieria de sistemas</div>
              <br />
              <div class="position">
                Corporacion universitaria minuto de dios
              </div>
              <div class="date">2020</div>
              <div class="hidden">2017-02 * 2019-06 | 2020-05</div>
            </article>
            <article class="cell medium-4 experience ac">
              <div class="site">
                DIPLOMADO Big Data Analytics and Business Intelligence
              </div>
              <div class="position">
                Corporacion universitaria minuto de dios
              </div>
              <div class="date">2018</div>
              <div class="hidden">2018-07 * 2018-12</div>
            </article>
            <article class="cell medium-4 experience ac">
              <div class="site">tecnologia en informatica</div>
              <br />
              <div class="position">
                Corporacion universitaria minuto de dios
              </div>
              <div class="date">2015</div>
              <div class="hidden">2010-08 * 2013-12 | 2015-09</div>
            </article>

            <div class="cv-line"></div>

            <div class="cell title">Lenguajes, herramientas y frameworks</div>
            <div class="cell">
              <div
                class="grid-x grid-margin-y grid-margin-x align-center-middle grid-padding-x grid-padding-y"
              >
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-vim.png" />
                  </div>
                  <div class="name">Vim</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-git.png" />
                  </div>
                  <div class="name">git</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-postman.png" />
                  </div>
                  <div class="name">postman</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-int.png" />
                  </div>
                  <div class="name">intellij</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-java.png" />
                  </div>
                  <div class="name">java</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-php.png" />
                  </div>
                  <div class="name">php</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box"><img src="/assets/logos/logo-js.png" /></div>
                  <div class="name">JavaScript</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box"><img src="/assets/logos/logo-ts.png" /></div>
                  <div class="name">TypeScript</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-html.png" />
                  </div>
                  <div class="name">html5</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-css.png" />
                  </div>
                  <div class="name">css3</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-sass.png" />
                  </div>
                  <div class="name">sass</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-jquery.png" />
                  </div>
                  <div class="name">Jquery</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-angular.png" />
                  </div>
                  <div class="name">Angular 2+</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-angular.png" />
                  </div>
                  <div class="name">angularjs</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-ionic.png" />
                  </div>
                  <div class="name">Ionic</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-node.png" />
                  </div>
                  <div class="name">nodejs</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-electron.png" />
                  </div>
                  <div class="name">electronjs</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-laravel.png" />
                  </div>
                  <div class="name">Laravel</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-code.png" />
                  </div>
                  <div class="name">codeigniter</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-cake.png" />
                  </div>
                  <div class="name">cakephp</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-spring.png" />
                  </div>
                  <div class="name">spring boot</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box"><img src="/assets/logos/logo-py.png" /></div>
                  <div class="name">python</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-django.png" />
                  </div>
                  <div class="name">django</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box"><img src="/assets/logos/logo-or.png" /></div>
                  <div class="name">oracle</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-mysql.png" />
                  </div>
                  <div class="name">mysql</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box"><img src="/assets/logos/logo-ps.png" /></div>
                  <div class="name">postgresql</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-mdb.png" />
                  </div>
                  <div class="name">mariadb</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-rabbit.png" />
                  </div>
                  <div class="name">rabbitmq</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box"><img src="/assets/logos/logo-fd.png" /></div>
                  <div class="name">foundation</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box"><img src="/assets/logos/logo-tg.png" /></div>
                  <div class="name">telegram api</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box"><img src="/assets/logos/logo-wp.png" /></div>
                  <div class="name">wordpress</div>
                </article>
                <article class="cell medium-3 tech">
                  <div class="box">
                    <img src="/assets/logos/logo-block.png" />
                  </div>
                  <div class="name">notepad</div>
                </article>
              </div>
            </div>

            <div class="cv-line"></div>

            <div class="cell title">Experiencia laboral</div>
            <article class="cell medium-6 experience">
              <div class="site">Mensajeros Urbanos</div>
              <div class="position">Software Engineer</div>
              <div class="date">09/07/2020</div>
              <div class="boss">Andres Falla</div>
              <div class="phone">311 7486574</div>
            </article>
            <article class="cell medium-6 experience">
              <div class="site">Ariane S.A.S.</div>
              <div class="position">Senior Development Engineer</div>
              <div class="date">04/07/2018 - 29/02/2020</div>
              <div class="boss">Carlos Arturo Gutierrez Ospina</div>
              <div class="phone">311 5300278</div>
            </article>
            <article class="cell medium-6 experience">
              <div class="site">Cheil Colombia</div>
              <div class="position">Junior Development Engineer</div>
              <div class="date">19/02/2018 – 28/06/2018</div>
              <div class="boss">Hiram Cabrera</div>
              <div class="phone">318 3592 2129</div>
            </article>
            <article class="cell medium-6 experience">
              <div class="site">GENEBSYS S.A.S.</div>
              <div class="position">Analista TI</div>
              <div class="date">18/12/2017 – 28/02/2018</div>
              <div class="boss">Blanca Segura</div>
              <div class="phone">314 314 9879</div>
            </article>
            <article class="cell medium-6 experience">
              <div class="site">Uvee Diseno y Publicidad S.A.S.</div>
              <div class="position">Junior Development Engineer</div>
              <div class="date">19/03/2015 – 14/12/2017</div>
              <div class="boss">Manuel Antonio Mora Sandoval</div>
              <div class="phone">318 8565979</div>
            </article>
            <article class="cell medium-6 experience">
              <div class="site">Innova-ion S.A.S.</div>
              <div class="position">Junior Development Engineer</div>
              <div class="date">01/01/2014 – 28/12/2014</div>
              <div class="boss">Carlos Arturo Gutierrez Ospina</div>
              <div class="phone">311 5300278</div>
            </article>
            <article class="cell medium-6 experience">
              <div class="site">Chip Colombia S.A.S.</div>
              <div class="position">Tecnico pc-tablet</div>
              <div class="date">01/04/2011 – 31/12/2013</div>
              <div class="boss">Mauricio Cano</div>
              <div class="phone">319 6253701</div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
