<section id="play">
  <div class="grid-container">
    <div class="grid-x">
      <h1 class="cell">Vamos a jugarrrr</h1>
    </div>
    <div class="grid-x content">
      <p class="cell">
        Las instrucciones son simples querida Angieee, solo tienes que poner 1
        letra por cuadrito y cuando quieras ver si esta bien le das al boton
        verificar, al terminar tendras mi direccion, a jugarrrr.
      </p>
      <div class="cell">
        <div class="grid-x table">
          <div class="cell field"><input type="text" id="34" /></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
        </div>
        <div class="grid-x table">
          <div class="cell field"><input type="text" id="33" /></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell field two"><input type="text" id="21" /></div>
        </div>
        <div class="grid-x table">
          <div class="cell field one"><input type="text" id="11" /></div>
          <div class="cell field"><input type="text" id="12" /></div>
          <div class="cell field"><input type="text" id="13" /></div>
          <div class="cell field"><input type="text" id="14" /></div>
          <div class="cell field"><input type="text" id="15" /></div>
          <div class="cell field"><input type="text" id="16" /></div>
          <div class="cell field"><input type="text" id="17" /></div>
        </div>
        <div class="grid-x table">
          <div class="cell field three"><input type="text" id="31" /></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell field"><input type="text" id="23" /></div>
        </div>
        <div class="grid-x table">
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell field"><input type="text" id="24" /></div>
        </div>
        <div class="grid-x table">
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell field"><input type="text" id="25" /></div>
        </div>
      </div>
      <div class="cell">
        <div class="grid-x table">
          <div class="cell field four five"><input type="text" id="41" /></div>
          <div class="cell field"><input type="text" id="42" /></div>
          <div class="cell field"><input type="text" id="43" /></div>
        </div>
        <div class="grid-x table">
          <div class="cell field"><input type="text" id="52" /></div>
          <div class="cell"></div>
          <div class="cell"></div>
        </div>
        <div class="grid-x table">
          <div class="cell field"><input type="text" id="53" /></div>
          <div class="cell"></div>
          <div class="cell"></div>
        </div>
      </div>
      <div class="grid-x">
        <div class="cell btn" (click)="check()">Verificar</div>
      </div>

      <div class="grid-x">
        <div class="cell"><b>1. </b>Inicia con A :</div>
        <div class="cell"><b>2. </b>A muchos les gustaba andar en la:</div>
        <div class="cell"><b>3. </b>Una familia vive en una :</div>
        <div class="cell"><b>4. </b>29 x 5 :</div>
        <div class="cell"><b>5. </b>2 elevado a la 7 :</div>
      </div>
    </div>

    <div class="grid-x">
      <h3 class="cell end">
        MUY BIEN ANGIEEE ❤ LA DIRECCION ES: <br />AVENIDA CALLE 145 # 128 - 40
        CASA 79 CONJUNTO TAYAZAL
      </h3>
    </div>
  </div>
</section>
